html {
    font-size: 16px;
}

.active {
    color: rgb(79, 70, 229);
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }
}